In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# import data, convert Permit ID, zip to string

df = pd.read_excel("./data/permit_data.xlsx", sheet_name="Very_Editted", converters={"Permit ID": str, "zip": str, "Date Permit Issued": str})

In [3]:
df['City'].value_counts()

GASTONIA         1900
DALLAS           1284
BESSEMER CITY    1161
MT HOLLY          911
STANLEY           880
BELMONT           766
KINGS MTN         642
CHERRYVILLE       450
LINCOLNTON        357
CROUSE            182
ALEXIS             74
CRAMERTON          24
IRON STATION        8
LOWELL              8
MCADENVILLE         3
Name: City, dtype: int64

In [4]:
df = df[["Permit ID",
         "Addr_ZIP",
         "City",
         "zip",
         "XCOORD",
         "YCOORD",
         "Depth of Well (Feet)",
         "Date Permit Issued"]]

In [5]:
df.columns = ["id","add_zip","city","zip","X","Y","depth","perm_date"]

In [14]:
# delete any rows with missing values for BOTH add and X columns

df = df.dropna(subset=["add_zip","X"])
len(df)

8139

In [15]:

# delete any rows with missing values for id column

df = df.dropna(subset=["id"])
len(df)

# drop any rows with missing values for city or zip

df = df.dropna(subset=["city","zip"])

In [16]:
# remove zip code from address column for matching purposes later
df['add'] = [s[:-6] for s in df['add_zip']]

In [17]:
#na_check = df.drop(columns={'plant'})
#import missingno as msno
#msno.matrix(df, sparkline=False, figsize=(15,15), fontsize=12, color=(0.27, 0.52, 1.0));

In [7]:
df['perm_date'] = df['perm_date'].str[:10]
df['perm_date'] = pd.to_datetime(df['perm_date'])
df['year_built'] = df['perm_date'].dt.year

In [19]:
# save the cleaned data to a new file in data folder

df.to_csv("./data/permit_data_cleaned.csv", index=False)

In [14]:
len(df['year_built'])

8767

In [11]:
len(df[(df['year_built'] < 2018)])

8354

In [12]:


# check for null values where "year_built" is less than 2018
# and where "year_built" is greater than 2017

df[(df['year_built'] < 2018)].isnull().sum()

id              0
add_zip       109
city          116
zip           110
X             351
Y             351
depth         311
perm_date       0
year_built      0
dtype: int64

In [ ]:
len(df[df['year_built'] > 2017])

In [10]:

# check for null values where "year_built" is less than 2017

df[df['year_built'] > 2017].isnull().sum()

id              0
add_zip         1
city            1
zip             1
X             220
Y             220
depth           8
perm_date       0
year_built      0
dtype: int64