In [1]:
import pandas as pd
import numpy as np

import googlemaps


import recordlinkage as rl

In [2]:

# read in cleaned data sets


df1 = pd.read_csv('./data/permit_data_cleaned.csv', converters={'id': lambda x: str(x.strip()),
                                                                'zip': lambda x: str(x.strip()),
                                                                'add_zip': lambda x: str(x.strip()),
                                                                'city': lambda x: str(x.strip()),
                                                                'add': lambda x: str(x.strip())})



df2 = pd.read_csv('./data/well_data_cleaned.csv', converters={'id': lambda x: str(x.strip()),
                                                                'zip': lambda x: str(x.strip()),
                                                                'city': lambda x: str(x.strip()),
                                                                'add': lambda x: str(x.strip())})

In [115]:
# create a function to find the best key for a join operation on the two data sets
def find_best_key(df1, df2, key):
    li = df1[key]
    li2 = df2[key]
    li3 = li.append(li2)
    li4 = li3.drop_duplicates(keep=False)
    matches = len(li3) - len(li4)
    return matches

In [120]:
# call the function to find the best key for a join operation on the two data sets
find_best_key(df1, df2, 'id');

C:\Users\kendall\AppData\Local\Temp\ipykernel_15872\4072447412.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  li3 = li.append(li2)

In [117]:
find_best_key(df1, df2, 'add');

C:\Users\kendall\AppData\Local\Temp\ipykernel_15872\4072447412.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  li3 = li.append(li2)

2418

In [3]:
# join df2 to df1 on the following columns
# columns of interest are "add","city","zip","permitno","date","ar","ph" from df2
# the keys to join on in df1 are "add""
# keys to join on from df2 are "add"
# all columns from df2 should be joined to df1


#df3 = pd.merge(df1, df2, on='add', how='left')

df4 = pd.merge(df1, df2, on='id', how='left')

In [126]:
# check the number of valid entries in each column

df4.count()

id            8145
add_zip       8145
city_x        8145
zip_x         8145
X             8145
Y             8145
depth         7834
perm_date     8034
add_x         8145
year_built    8034
add_y          726
city_y         726
state          726
zip_y          726
altid          726
date           726
ar             726
ph             726
group          726
group_five     726
dtype: int64

In [10]:
df5 = df4[df4['group_five'] < 2]

len(df5[(df5['year_built'] < 2018)])

709

In [11]:

# check the number of missing values in the new columns

df5[['X', 'Y']].isnull().sum()

X    0
Y    0
dtype: int64

In [12]:
df5

,id,add_zip,city_x,zip_x,X,Y,depth,perm_date,add_x,year_built,add_y,city_y,state,zip_y,altid,date,ar,ph,group,group_five
45,159,152 HALL RD 28056,GASTONIA,28056,-81.102961,35.306266,265.0,1989-04-10,152 HALL RD,1989.0,152 HALL RD,GASTONIA,NC,28056,ES191001-0066,2019-09-22,0.0,7.4,0.0,0.0
47,163,105 FALLING LEAF LN 28120,MT HOLLY,28120,-81.068957,35.305292,67.0,1989-04-21,105 FALLING LEAF LN,1989.0,105 FALLING LEAF LN,MT HOLLY,NC,28120,ES190913-0009,2019-09-08,0.0,6.5,0.0,0.0
60,182,211 WILLDON CT 28056,GASTONIA,28056,-81.088280,35.320927,225.0,1989-07-10,211 WILLDON CT,1989.0,211 WILLDON CT,GASTONIA,NC,28056,ES190116-0047,2019-01-14,0.0,7.1,0.0,0.0
80,204,1015 ELIZABETH DR 28034,DALLAS,28034,-81.240234,35.356966,250.0,1989-06-13,1015 ELIZABETH DR,1989.0,1015 ELIZABETH DR,DALLAS,NC,28034,ES122111-0056001,2011-12-19,0.0,0.0,0.0,0.0
82,206,529 ANTHONY GROVE RD 28033,CROUSE,28033,-81.321470,35.386198,110.0,1989-06-13,529 ANTHONY GROVE RD,1989.0,529 ANTHONY GROVE RD,CROUSE,NC,28033,ES061614-0004001,2014-06-12,0.0,7.1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8132,12763,2613 LAKEFRONT DR 28012,BELMONT,28012,-81.047580,35.182662,390.0,2018-07-13,2613 LAKEFRONT DR,2018.0,7613 LAKE FRONT DR,BELMONT,NC,28012,ES190708-0005,2019-07-03,0.0,7.8,0.0,0.0
8133,12765,520 WILSON FARM RD 28056,GASTONIA,28056,-81.114716,35.154375,NaN,2018-07-11,520 WILSON FARM RD,2018.0,520 WILSON FARM RD,GASTONIA,NC,28056,ES180727-0027,2018-07-25,0.0,6.9,0.0,0.0
8134,12771,2605 LAKEFRONT DR 28012,BELMONT,28012,-81.048192,35.182678,200.0,2018-07-26,2605 LAKEFRONT DR,2018.0,2605 LAKEFRONT DR,BELMONT,NC,28034,ES190221-0007,2019-02-19,0.0,6.7,0.0,0.0
8135,12795,1615 KELLY RD 28120,MT HOLLY,28120,-81.086012,35.334429,260.0,2018-09-18,1615 KELLY RD,2018.0,1615 KELLY RD,MT HOLLY,NC,28120,ES190816-0009,2019-08-08,0.0,7.1,0.0,0.0
8136,12827,109 HORSLEY AVE 28012,BELMONT,28012,-81.034573,35.216078,200.0,2018-10-12,109 HORSLEY AVE,2018.0,109 HORSLEY AVE,BELMONT,NC,28012,ES1811206-0010,2018-12-04,0.0,7.1,0.0,0.0

In [37]:
#well = df[['add', 'city','zip', 'permitno', 'date', 'year', 'ar', 'group', 'group_five',  'X', 'Y', 'depth']]

#perm = df[['add', 'city','zip', 'permitno', 'date', 'year',  'X', 'Y', 'depth']]

In [38]:
#well.head()

,add,city,zip,permitno,date,year,ar,group,group_five,X,Y,depth
0,644 DALLAS SPENCER MTN RD,DALLAS,28034,11531,2011-01-03,2011,0.0,0,0,-81.135166,35.318629,305.0
1,5110 WEAVER GLENN PL,BESSEMER CITY,28016,10769,2011-01-04,2011,0.0,0,0,-81.330481,35.322149,205.0
2,2114 PINNACLE VIEW DR,KINGS MOUNTAIN,28066,10642,2011-01-04,2011,0.0,0,0,-81.304005,35.189199,385.0
3,5116 WEAVER GLENN PL,BESSEMER CITY,28016,10564,2011-01-04,2011,0.0,0,0,-81.331276,35.322278,285.0
4,198 BRIDLE HILL LN,KINGS MOUNTAIN,28066,8651,2011-01-20,2011,0.0,0,0,-81.354993,35.326289,205.0

In [41]:
well['full_add'] = well['add'] + ', ' + well['city'] + ', ' + 'NC ' + well['zip']

C:\Users\kendall\AppData\Local\Temp/ipykernel_2892/4151219503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well['full_add'] = well['add'] + ', ' + well['city'] + ', ' + 'NC ' + well['zip']

In [42]:
well.head()

,add,city,zip,permitno,date,year,ar,group,group_five,X,Y,depth,full_add
0,644 DALLAS SPENCER MTN RD,DALLAS,28034,11531,2011-01-03,2011,0.0,0,0,-81.135166,35.318629,305.0,"644 DALLAS SPENCER MTN RD, DALLAS, NC 28034"
1,5110 WEAVER GLENN PL,BESSEMER CITY,28016,10769,2011-01-04,2011,0.0,0,0,-81.330481,35.322149,205.0,"5110 WEAVER GLENN PL, BESSEMER CITY, NC 28016"
2,2114 PINNACLE VIEW DR,KINGS MOUNTAIN,28066,10642,2011-01-04,2011,0.0,0,0,-81.304005,35.189199,385.0,"2114 PINNACLE VIEW DR, KINGS MOUNTAIN, NC 28066"
3,5116 WEAVER GLENN PL,BESSEMER CITY,28016,10564,2011-01-04,2011,0.0,0,0,-81.331276,35.322278,285.0,"5116 WEAVER GLENN PL, BESSEMER CITY, NC 28016"
4,198 BRIDLE HILL LN,KINGS MOUNTAIN,28066,8651,2011-01-20,2011,0.0,0,0,-81.354993,35.326289,205.0,"198 BRIDLE HILL LN, KINGS MOUNTAIN, NC 28066"

In [43]:
api_key = "AIzaSyD4MWa0YgnE8mvIIxxTqJzMbzqippwbOFs"
gmaps_key = googlemaps.Client(key=api_key)

# create a geocode function that uses full address ('full_add') for the well dataframe, 
# outputs X and Y coordinates into seperate new geoX and geoY columns
# the geocode function will use the googlemaps library and geocode api to geocode the addresses

def geocode(row):
    try:
        result = gmaps_key.geocode(row['full_add'])
        geoX = result[0]['geometry']['location']['lng']
        geoY = result[0]['geometry']['location']['lat']
        return pd.Series([geoX, geoY])
    except:
        return pd.Series([np.nan, np.nan])

# apply the geocode function to the well dataframe
# the geocode function will create two new columns, geoX and geoY, in the well dataframe

well[['geoX', 'geoY']] = well.apply(geocode, axis=1)

# check the number of missing values in the new columns

well[['geoX', 'geoY']].isnull().sum()

c:\Users\kendall\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

geoX    2
geoY    2
dtype: int64

In [44]:

# for records missing values for X and Y, insert the newly geocoded X and Y values into the original X and Y columns
# thus retaining the already geocoded X and Y values for records that already have them

well['X'] = np.where(well['X'].isnull(), well['geoX'], well['X'])
well['Y'] = np.where(well['Y'].isnull(), well['geoY'], well['Y'])

# check the number of missing values in the new columns

well[['X', 'Y']].isnull().sum()

C:\Users\kendall\AppData\Local\Temp/ipykernel_2892/1374547425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well['X'] = np.where(well['X'].isnull(), well['geoX'], well['X'])
C:\Users\kendall\AppData\Local\Temp/ipykernel_2892/1374547425.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well['Y'] = np.where(well['Y'].isnull(), well['geoY'], well['Y'])

X    2
Y    2
dtype: int64

In [45]:
# drop records with missing values for X and Y

well = well.dropna(subset=['X', 'Y'])

# check the number of missing values in the new columns

well[['X', 'Y']].isnull().sum()

X    0
Y    0
dtype: int64