In [102]:
import pandas as pd
import numpy as np

import googlemaps


import recordlinkage as rl

In [103]:

# read in cleaned data sets


df1 = pd.read_csv('./data/permit_data_cleaned.csv', converters={'id': lambda x: str(x.strip()),
                                                                'zip': lambda x: str(x.strip()),
                                                                'add_zip': lambda x: str(x.strip()),
                                                                'city': lambda x: str(x.strip()),
                                                                'add': lambda x: str(x.strip())})



df2 = pd.read_csv('./data/well_data_cleaned.csv', converters={'permitno': lambda x: str(x.strip()),
                                                                'zip': lambda x: str(x.strip()),
                                                                'city': lambda x: str(x.strip()),
                                                                'add': lambda x: str(x.strip())})

In [105]:
df2['zip'].value_counts()

28012    273
28034    258
28056    198
28120    180
28164    165
28016    161
28052    141
28086     92
28021     91
28092     62
28033     22
28054     21
28006     15
28032      4
28098      3
28066      2
27355      1
29164      1
28210      1
28080      1
28093      1
28106      1
28134      1
2056       1
28102      1
28806      1
28065      1
Name: zip, dtype: int64

In [81]:
# join df2 to df1 on the following columns
# columns of interest are "add","city","zip","permitno","date","ar","ph" from df2
# the keys to join on in df1 are "add""
# keys to join on from df2 are "add"
# all columns from df2 should be joined to df1
# the output should be a dataframe with rows equal to the sum of the rows in df1 and df2
# the output should be saved as df3

df3 = pd.merge(df1, df2, left_on='id', right_on='permitno', how='outer')

In [82]:
# check the number of valid entries in each column
df3

,id,add_zip,city_x,zip_x,X,Y,depth,perm_date,add_x,year_built,...,city_y,state,zip_y,permitno,altid,date,ar,ph,group,group_five
0,101,4030 CHESTNUT WOODS DR 28086,KINGS MTN,28086,-81.328444,35.293048,125.0,1989-04-05,4030 CHESTNUT WOODS DR,1989.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102,525 COSTNER SCHOOL RD 28016,BESSEMER CITY,28016,-81.263931,35.298064,280.0,1989-04-06,525 COSTNER SCHOOL RD,1989.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,103,1630 SHELBY HWY 28021,CHERRYVILLE,28021,-81.410357,35.370839,49.0,1989-04-06,1630 SHELBY HWY,1989.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,104,226 RUSTIC HILLS CIR 28016,BESSEMER CITY,28016,-81.274022,35.256068,305.0,1989-04-10,226 RUSTIC HILLS CIR,1989.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,105,5209 HICKORY GROVE RD 28120,MT HOLLY,28120,-81.090579,35.333220,62.0,1989-04-12,5209 HICKORY GROVE RD,1989.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gastonia,NC,28056,13244,ES210407-0011,2021-04-05,0.0,6.5,0.0,0.0
9122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Cherryville,NC,28021,13279,ES210210-0017,2021-02-08,0.0,7.6,0.0,0.0
9123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Gastonia,NC,28052,13290,ES210210-0018,2021-02-08,0.0,6.9,0.0,0.0
9124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,BESSEMER CITY,NC,28016,13317,ES210217-0009,2021-02-15,0.0,6.7,0.0,0.0
9125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Mount Holly,NC,28120,13114,ES200731-0002,2020-07-29,0.0,6.4,0.0,0.0

In [83]:
# create a new dataframe keeping only rows that have a value for both "permitno" and "id"

df4 = df3.dropna(subset=['permitno', 'id'])

# check the number of valid entries in each column
df4

,id,add_zip,city_x,zip_x,X,Y,depth,perm_date,add_x,year_built,...,city_y,state,zip_y,permitno,altid,date,ar,ph,group,group_five
45,159,152 HALL RD 28056,GASTONIA,28056,-81.102961,35.306266,265.0,1989-04-10,152 HALL RD,1989.0,...,GASTONIA,NC,28056,159,ES191001-0066,2019-09-22,0.0,7.4,0.0,0.0
47,163,105 FALLING LEAF LN 28120,MT HOLLY,28120,-81.068957,35.305292,67.0,1989-04-21,105 FALLING LEAF LN,1989.0,...,MOUNT HOLLY,NC,28120,163,ES190913-0009,2019-09-08,0.0,6.5,0.0,0.0
60,182,211 WILLDON CT 28056,GASTONIA,28056,-81.088280,35.320927,225.0,1989-07-10,211 WILLDON CT,1989.0,...,GASTONIA,NC,28056,182,ES190116-0047,2019-01-14,0.0,7.1,0.0,0.0
80,204,1015 ELIZABETH DR 28034,DALLAS,28034,-81.240234,35.356966,250.0,1989-06-13,1015 ELIZABETH DR,1989.0,...,DALLAS,NC,28034,204,ES122111-0056001,2011-12-19,0.0,0.0,0.0,0.0
82,206,529 ANTHONY GROVE RD 28033,CROUSE,28033,-81.321470,35.386198,110.0,1989-06-13,529 ANTHONY GROVE RD,1989.0,...,CROUSE,NC,28033,206,ES061614-0004001,2014-06-12,0.0,7.1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8138,12763,2613 LAKEFRONT DR 28012,BELMONT,28012,-81.047580,35.182662,390.0,2018-07-13,2613 LAKEFRONT DR,2018.0,...,BELMONT,NC,28012,12763,ES190708-0005,2019-07-03,0.0,7.8,0.0,0.0
8139,12765,520 WILSON FARM RD 28056,GASTONIA,28056,-81.114716,35.154375,NaN,2018-07-11,520 WILSON FARM RD,2018.0,...,GASTONIA,NC,28056,12765,ES180727-0027,2018-07-25,0.0,6.9,0.0,0.0
8140,12771,2605 LAKEFRONT DR 28012,BELMONT,28012,-81.048192,35.182678,200.0,2018-07-26,2605 LAKEFRONT DR,2018.0,...,BELMONT,NC,28034,12771,ES190221-0007,2019-02-19,0.0,6.7,0.0,0.0
8141,12795,1615 KELLY RD 28120,MT HOLLY,28120,-81.086012,35.334429,260.0,2018-09-18,1615 KELLY RD,2018.0,...,MOUNT HOLLY,NC,28120,12795,ES190816-0009,2019-08-08,0.0,7.1,0.0,0.0
8142,12827,109 HORSLEY AVE 28012,BELMONT,28012,-81.034573,35.216078,200.0,2018-10-12,109 HORSLEY AVE,2018.0,...,BELMONT,NC,28012,12827,ES1811206-0010,2018-12-04,0.0,7.1,0.0,0.0

In [106]:
# join df2 to df1 using recordlinkage library
# columns of interest are "add","city","zip","permitno","date","ar","ph" from df2
# the keys to join on in df1 are "id", "add", "city", "zip", and the 
# keys to join on from df2 are "permitno", "add", "city", "zip"
# all data from df2 should be joined to df1
# the output should be a dataframe with the same number of rows as df1
# and the columns from df1 and df2
# the output should be saved as df3


# create index
indexer = rl.Index()
indexer.block(left_on='city', right_on='city')
indexer.block(left_on='zip', right_on='zip')

# create candidate links
candidate_links = indexer.index(df1, df2)

# create a comparison object
c = rl.Compare()

# add the comparison functions

c.string('add', 'add', method='jarowinkler', threshold=0.85)
c.exact('id', 'permitno')

# create a feature vector
features = c.compute(candidate_links, df1, df2)

In [107]:

# create a classifier
ecm = recordlinkage.ECMClassifier()

ecm.fit_predict(features)

# create a dataframe with the predicted links
df3 = pd.DataFrame(ecm.predict(features), columns=['match'])

In [108]:
df3

            match
0      (45, 1382)
1      (47, 1329)
2      (60, 1120)
3       (80, 145)
4       (82, 460)
..            ...
682  (8120, 1201)
683  (8121, 1048)
684  (8122, 1140)
685  (8123, 1272)
686  (8124, 1088)

[687 rows x 1 columns]

In [36]:

# check the number of missing values in the new columns

df[['X', 'Y', 'depth', 'add']].isnull().sum()

X        1002
Y        1002
depth    1024
add         0
dtype: int64

In [37]:
well = df[['add', 'city','zip', 'permitno', 'date', 'year', 'ar', 'group', 'group_five',  'X', 'Y', 'depth']]

perm = df[['add', 'city','zip', 'permitno', 'date', 'year',  'X', 'Y', 'depth']]

In [38]:
well.head()

,add,city,zip,permitno,date,year,ar,group,group_five,X,Y,depth
0,644 DALLAS SPENCER MTN RD,DALLAS,28034,11531,2011-01-03,2011,0.0,0,0,-81.135166,35.318629,305.0
1,5110 WEAVER GLENN PL,BESSEMER CITY,28016,10769,2011-01-04,2011,0.0,0,0,-81.330481,35.322149,205.0
2,2114 PINNACLE VIEW DR,KINGS MOUNTAIN,28066,10642,2011-01-04,2011,0.0,0,0,-81.304005,35.189199,385.0
3,5116 WEAVER GLENN PL,BESSEMER CITY,28016,10564,2011-01-04,2011,0.0,0,0,-81.331276,35.322278,285.0
4,198 BRIDLE HILL LN,KINGS MOUNTAIN,28066,8651,2011-01-20,2011,0.0,0,0,-81.354993,35.326289,205.0

In [41]:
well['full_add'] = well['add'] + ', ' + well['city'] + ', ' + 'NC ' + well['zip']

C:\Users\kendall\AppData\Local\Temp/ipykernel_2892/4151219503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well['full_add'] = well['add'] + ', ' + well['city'] + ', ' + 'NC ' + well['zip']

In [42]:
well.head()

,add,city,zip,permitno,date,year,ar,group,group_five,X,Y,depth,full_add
0,644 DALLAS SPENCER MTN RD,DALLAS,28034,11531,2011-01-03,2011,0.0,0,0,-81.135166,35.318629,305.0,"644 DALLAS SPENCER MTN RD, DALLAS, NC 28034"
1,5110 WEAVER GLENN PL,BESSEMER CITY,28016,10769,2011-01-04,2011,0.0,0,0,-81.330481,35.322149,205.0,"5110 WEAVER GLENN PL, BESSEMER CITY, NC 28016"
2,2114 PINNACLE VIEW DR,KINGS MOUNTAIN,28066,10642,2011-01-04,2011,0.0,0,0,-81.304005,35.189199,385.0,"2114 PINNACLE VIEW DR, KINGS MOUNTAIN, NC 28066"
3,5116 WEAVER GLENN PL,BESSEMER CITY,28016,10564,2011-01-04,2011,0.0,0,0,-81.331276,35.322278,285.0,"5116 WEAVER GLENN PL, BESSEMER CITY, NC 28016"
4,198 BRIDLE HILL LN,KINGS MOUNTAIN,28066,8651,2011-01-20,2011,0.0,0,0,-81.354993,35.326289,205.0,"198 BRIDLE HILL LN, KINGS MOUNTAIN, NC 28066"

In [43]:
api_key = "AIzaSyD4MWa0YgnE8mvIIxxTqJzMbzqippwbOFs"
gmaps_key = googlemaps.Client(key=api_key)

# create a geocode function that uses full address ('full_add') for the well dataframe, 
# outputs X and Y coordinates into seperate new geoX and geoY columns
# the geocode function will use the googlemaps library and geocode api to geocode the addresses

def geocode(row):
    try:
        result = gmaps_key.geocode(row['full_add'])
        geoX = result[0]['geometry']['location']['lng']
        geoY = result[0]['geometry']['location']['lat']
        return pd.Series([geoX, geoY])
    except:
        return pd.Series([np.nan, np.nan])

# apply the geocode function to the well dataframe
# the geocode function will create two new columns, geoX and geoY, in the well dataframe

well[['geoX', 'geoY']] = well.apply(geocode, axis=1)

# check the number of missing values in the new columns

well[['geoX', 'geoY']].isnull().sum()

c:\Users\kendall\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

geoX    2
geoY    2
dtype: int64

In [44]:

# for records missing values for X and Y, insert the newly geocoded X and Y values into the original X and Y columns
# thus retaining the already geocoded X and Y values for records that already have them

well['X'] = np.where(well['X'].isnull(), well['geoX'], well['X'])
well['Y'] = np.where(well['Y'].isnull(), well['geoY'], well['Y'])

# check the number of missing values in the new columns

well[['X', 'Y']].isnull().sum()

C:\Users\kendall\AppData\Local\Temp/ipykernel_2892/1374547425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well['X'] = np.where(well['X'].isnull(), well['geoX'], well['X'])
C:\Users\kendall\AppData\Local\Temp/ipykernel_2892/1374547425.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well['Y'] = np.where(well['Y'].isnull(), well['geoY'], well['Y'])

X    2
Y    2
dtype: int64

In [45]:
# drop records with missing values for X and Y

well = well.dropna(subset=['X', 'Y'])

# check the number of missing values in the new columns

well[['X', 'Y']].isnull().sum()

X    0
Y    0
dtype: int64